
/*** Machado's Style ***/
/* ======== */
/* PREAMBLE */
/* ======== */

@include-when-export

url(https://fonts.loli.net/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext);
@font-face { font-family: 'PT Serif'; font-style: normal; font-weight: normal; src: local('PT Serif'), local('PTSerif-Regular'), url('./newsprint/pt-serif-v9-latin-regular.woff') format('woff');}
@font-face { font-family: 'PT Serif'; font-style: italic; font-weight: normal; src: local('PT Serif'), local('PTSerif-Italic'), url('./newsprint/pt-serif-v9-latin-italic.woff') format('woff');}
@font-face { font-family: 'PT Serif'; font-style: normal; font-weight: bold; src: local('PT Serif'), local('PTSerif-Bold'), url('./newsprint/pt-serif-v9-latin-700.woff') format('woff');}
@font-face { font-family: 'PT Serif'; font-style: italic; font-weight: bold; src: local('PT Serif'), local('PTSerif-BoldItalic'), url('./newsprint/pt-serif-v9-latin-700italic.woff') format('woff');}

:root {
	--side-bar-bg-color: #ffffff; /* color white */
	--window-border: 1px solid #808080; /* color gray */
	--search-select-bg-color: #37586f; /* color very dark desaturated blue */
	--active-file-bg-color: #ffffff; /* color white */
	--item-hover-bg-color: #ffffff; /* color white */
	--item-hover-text-color: #000000; /* color black */
	--control-text-color: 6;
}

pre {
	--select-text-bg-color: #37586f; /* color very dark desaturated blue */
	--select-text-font-color: #6f4e37; /* color coffee */
}

html { font-size: 12px; }

html, body {
	background-color: #ffffff; /* color white */
	font-family: "PT Serif", 'Times New Roman', Times, serif;
	color: #000000; /* color black */
	line-height: 1.5em;
}

#write { max-width: 40em;}

/* ======== */
/* HEADINGS */
/* ======== */

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 1.5em;
}

h1 {
	border-color: #808080; /* color gray */
	text-align: center;
	font-weight: normal;
	font-size: 1.875em; /*30 / 16*/
	line-height: 1.6em; /* 48 / 30*/
	margin-top: 2em;
	line-height: 1.3em;
	font-weight: normal;
	margin-bottom: 0.5em;
	font-variant: small-caps;
}

h2 {
	border-bottom: 1px solid #a6a6a6; /* color medium gray */
	margin-bottom: 1.875em; padding-bottom: 0.8125em;
}

h2, h3 {
	font-size: 1.3125em; /*21 / 16*/
	line-height: 1.15; /*24 / 21*/
	margin-top: 2.285714em; /*48 / 21*/
	margin-bottom: 1.15em; /*24 / 21*/
	margin-bottom: .75em;
}
h3 {
	font-weight: normal;
	font-style: italic;
}
h4 {
	font-weight: normal;
	font-size: 1.125em; /*18 / 16*/
	margin-top: 2.67em; /*48 / 18*/
	text-decoration: underline;
}
h5, h6 { font-size: 1em; /*16*/}
/*h1 { border-bottom: 1px solid; margin-bottom: 1.875em; padding-bottom: 0.8125em;}*/
h3 + ul, h4 + ul, h5 + ul, h6 + ul, h3 + ol, h4 + ol, h5 + ol, h6 + ol { margin-top: .5em;}

/* ===== */
/* LINKS */
/* ===== */

a {
	color: #37586f; /* color very dark desaturated blue */
	text-decoration: none;
}

a:active, a:hover { text-decoration: underline; }

a:visited {
	color: #6f4e37; /* color coffee */
}

/* ============= */
/* BLOCK SPACING */
/* ============= */

p, blockquote, .md-fences { margin-bottom: 1.5em;}

/* ========== */
/* BLOCKQUOTE */
/* ========== */

blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
blockquote {
	font-style: italic;
	border-left: 5px solid;
	margin-left: 2em;
	padding-left: 1em;
}
blockquote {
	border-color: #808080; /* color gray */
	color: #808080; /* color gray */
}
blockquote ul, blockquote ol { margin-left:0;}

/* ====== */
/* LISTS */
/* ====== */

ol li { list-style-type: decimal; list-style-position: outside;}
ul li { list-style-type: disc; list-style-position: outside;}
ol, ul { list-style: none;}
ul, ol { margin: 0 0 1.5em 1.5em;}
p + ul, p + ol{ margin-top: .5em;}
li > ul, li > ol { margin-top: inherit; margin-bottom: 0;}
li ol>li { list-style-type: lower-alpha;}
li li ol>li{ list-style-type: lower-roman;}

/* ====== */
/* TABLES */
/* ====== */

table {
	margin-bottom: 1.5em; /*24 / 16*/
	font-size: 1em;
	/* border-collapse: collapse; */
	/* border-spacing: 0; */
	width: 100%;
	border-bottom: 2px solid #000000; /* color black */
}

td {
	/* border-top: 1px solid #000000;*/
	vertical-align: top;
	padding: .25em .25em .25em .4em;
}

th {
	text-align: left;
	vertical-align: top;
	border-top: 4px solid #000000; /* color black */
}

thead {
	background-color: #bbbbbb; /* color light gray */
	border-bottom: 1px solid #000000; /* color black */
}

thead th, tfoot th {
	padding: .25em .25em .25em .4em; /* text-transform: uppercase; */
}

hr {
	border-bottom: none;
	border-top: none;
	border-right: none;
	border-left: none;
}

tr:nth-child(even) {
	background: #e1e1e1; /* color super light gray */
	border-top: 0;
}

.ty-table-edit {
	background-color: transparent;
}

/* ==== */
/* CODE */
/* ==== */

.md-meta, .md-before, .md-after {
	color:#808080; /* color gray */
}

code, .md-fences {
	background-color: #ffffff; /* color white */
}

code {
	padding-left: 2px;
	padding-right: 2px;
	border-top: 1px solid #bbbbbb; /* color light gray */
	border-bottom: 1px solid #bbbbbb; /* color light gray */
	border-left: 1px solid #bbbbbb; /* color light gray */
	border-right: 1px solid #bbbbbb; /* color light gray */
	line-height: 1.5em #bbbbbb; /* color light gray */;
}

.md-fences {
	margin-left: 2em;
	margin-bottom: 3em;
	padding-left: 1ch;
	padding-right: 1ch;
}

.md-fences.md-fences-with-lineno {
	border-top: 1px solid #bbbbbb; /* color light gray */
	border-bottom: 1px solid #bbbbbb; /* color light gray */
	border-left: 1px solid #bbbbbb; /* color light gray */
	border-right: 1px solid #bbbbbb; /* color light gray */
	line-height: 1.5em #bbbbbb; /* color light gray */;
}

pre, code, tt {
	font-size: .875em;
	line-height: 1.714285em;
}

/* ========== */
/* SOME FIXES */
/* ========== */

.task-list{ padding-left: 1rem;}
.md-task-list-item { padding-left: 1.5rem; list-style-type: none;}
.md-task-list-item > input:before { content: '\221A'; display: inline-block; width: 1.25rem; height: 1.6rem; vertical-align: middle; text-align: center; color: #a6a6a6; /* color medium gray */ background-color: #ffffff; /* color white */}
.md-task-list-item > input:checked:before, .md-task-list-item > input[checked]:before{ color: inherit;}
#write pre.md-meta-block { min-height: 1.875rem; color: #808080; /* color gray */ border: 0px; background: transparent; margin-top: -4px; margin-left: 1em; margin-top: 1em;}
.md-image>.md-meta { color: #6f4e37; /* color coffee */}
.md-image>.md-meta{ font-family: Menlo, 'Ubuntu Mono', Consolas, 'Courier New', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', serif;}
#write>h3.md-focus:before{ left: -1.5rem; color:#808080; /* color gray */ border-color:#808080; /* color gray */}
#write>h4.md-focus:before{ left: -1.5rem; top: .25rem; color:#808080; /* color gray */ border-color:#808080; /* color gray */}
#write>h5.md-focus:before{ left: -1.5rem; top: .0.3125rem; color:#808080; /* color gray */ border-color:#808080; /* color gray */}
#write>h6.md-focus:before{ left: -1.5rem; top: 0.3125rem; color:#808080; /* color gray */ border-color:#808080; /* color gray */}
.md-toc:focus .md-toc-content{ margin-top: 19px;}
.md-toc-content:empty:before{ color: #2488bc;}
.md-toc-item { color: #2488bc;}
#write div.md-toc-tooltip { background-color: #ffffff; /* color white */}
#typora-sidebar { background-color: #ffffff; /* color white */ -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.375); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.375);}
.pin-outline #typora-sidebar { background: inherit; box-shadow: none; border-right: 1px solid;}
.pin-outline #typora-sidebar:hover .outline-title-wrapper { border-left:1px solid;}
.outline-item:hover {
	background-color: #808080; /* color gray */
	border-left: 28px solid #808080; /* color gray */
	border-right: 18px solid #808080; /* color gray */
}
.typora-node .outline-item:hover {
	border-right: 28px solid #808080; /* color gray */
}
.outline-expander:before {
	content: "\f0da";
	font-family: FontAwesome;
	font-size:12px;
	top: 1px;
}
.outline-expander:hover:before, .outline-item-open>.outline-item>.outline-expander:before { content: "\f0d7";}
.modal-content { background-color: #ffffff; /* color white */}
.auto-suggest-container ul li { list-style-type: none;}

/* =============== */
/* UI for electron */
/* =============== */

.megamenu-menu, #top-titlebar, #top-titlebar *, .megamenu-content {
	background: #ffffff; /* color white */
	color: #000000; /* color black */
}
.megamenu-menu-header {
	border-bottom: 1px solid #808080; /* color gray */
}
.megamenu-menu {
	box-shadow: none; border-right: 1px solid;
}
header, .context-menu, .megamenu-content, footer {
	font-family: "PT Serif", 'Times New Roman', Times, serif; color: #000000; /* color black */
}
#megamenu-back-btn {
	color: #000000; /* color black */
	border-color: #000000; /* color black */
}
.megamenu-menu-header #megamenu-menu-header-title:before {
	color: #000000; /* color black */
}
.megamenu-menu-list li a:hover, .megamenu-menu-list li a.active {
	color: inherit; background-color: #a6a6a6; /* color medium gray */
}
.long-btn:hover {
	background-color: #a6a6a6; /* color medium gray */
}
#recent-file-panel tbody tr:nth-child(2n-1) {
	background-color: transparent !important;
}
.megamenu-menu-panel tbody tr:hover td:nth-child(2) {
	color: inherit;
}
.megamenu-menu-panel .btn {
	background-color: #808080; /* color gray */
}
.btn-default {
	background-color: transparent;
}
.typora-sourceview-on #toggle-sourceview-btn, .ty-show-word-count #footer-word-count {
	background: #808080; /* color gray */
}
#typora-quick-open {
	background-color: inherit;
}
.md-diagram-panel {
	margin-top: 8px;
}
.file-list-item-file-name {
	font-weight: initial;
}
.file-list-item-summary {
	opacity: 1;
}
.file-list-item {
	color: #808080; /* color gray */
}
.file-list-item.active {
	background-color: inherit; color: #000000; /* color black */
}
.ty-side-sort-btn.active {
	background-color: inherit;
}
.file-list-item.active .file-list-item-file-name {
	font-weight: bold;
}
.file-list-item{
	opacity:1 !important;
}
.file-library-node.active>.file-node-background{
	background-color: #000000; /* color black */
	background-color: var(--active-file-bg-color);
}
.file-tree-node.active>.file-node-content{
	color: #ffffff; /* color white */
	color: var(--active-file-text-color);
}
.md-task-list-item>input {
	margin-left: -1.6em; margin-top: calc(1rem - 12px);
}
input {
	border: 1px solid #808080; /* color gray */
}
.megamenu-menu-header #megamenu-menu-header-title, .megamenu-menu-header:hover, .megamenu-menu-header:focus {
	color: inherit;
}
.dropdown-menu .divider {
	border-color: #808080; /* color gray */
}
/* https://github.com/typora/typora-issues/issues/2046 */
.os-windows-7 strong, .os-windows-7 strong {
	font-weight: 760;
}
.ty-preferences .btn-default {
	background: transparent;
}
.ty-preferences .window-header {
	border-bottom: 1px solid #808080; /* color gray */
	box-shadow: none;
}

